@charset "UTF-8";

@media screen and (min-width: 481px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu li{
        display: inline-block;
    }

    main{
        width: 769px;
    }
}