@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: lightgray;
}


header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: rgb(49, 49, 49);
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(70, 70, 70);
    color: white;
    border-top: 2px solid gray;
}

menu a:hover{
    background-color: rgb(100, 100, 100);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}